/* static/css/styles.css */
/* Add your global styles here */


:root {
    --dark-green: #0C451D;
    --dark-forest-green: #0C4530;
    --dark-greenish-brown: #0F450C;
    --dark-teal: #0C4543;
    --dark-blue: #0C3545;
    --light-blue: #278eb1;
    --light-green: #c5dabf;
    --dark-gray: #0D0D0D;
    --xd-gray: #050505;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--xd-gray); /* Dark gray scrollbar track */
    border-radius: 10px; /* Rounded corners for a modern look */
}

::-webkit-scrollbar-thumb {
    background: var(--light-blue); /* Light blue scrollbar thumb */
    border-radius: 10px; /* Rounded corners for a modern look */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D0D0D; /* Dark green background color */
    color: #5f895a; /* Darker green text color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flashes {
    background-color: var(--dark-blue);
}

.navbar {
    z-index: 998; /* Set a high z-index to ensure the navbar stays on top */
    position: relative;
    background-color: var(--dark-blue);
}

.navbar-brand {
    font-weight: bold;
    color: var(--light-green); /* Darker green text color for the brand */
    font-size: 1.5em; /* Larger font size for the brand */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth color and transform transition */
}

.navbar-brand:hover {
    color: var(--light-blue); /* Darker green color on hover for the brand */
    transform: rotate(5deg); /* Rotate on hover */
}

.menu {
    max-width: 30px; /* Limit the width of the icon */
    height: auto; /* Maintain aspect ratio */
    filter: invert(93%) sepia(14%) saturate(305%) hue-rotate(58deg) brightness(89%) contrast(94%);
}

/* Make navbar responsive */
@media (max-width: 768px) {
    .menu {
        max-width: 50px; /* Adjust the width of the icon for smaller screens */
    }
}

.navbar-nav .nav-item .nav-link {
    color: var(--light-green); /* Darker green text color for links */
    font-size: 1.2em; /* Larger font size for the links */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth color and transform transition */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff; /* White color on hover */
    transform: translateY(-5px); /* Bounce on hover */
    
}

/* Footer styles */
footer {
    background-color: var(--dark-teal); /* Dark teal background color */
    color: var(--light-green); /* Light green text color */
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center; /* Center the text */
}

footer p {
    margin: 0;
    margin-top: auto;
    font-size: 1em;
}

.alert {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    z-index: 5;
}

.alert-error {
    background-color: #ffcccc; /* Mellow red background color */
    color: #663333; /* Mellow brown text color */
}

.alert-success {
    background-color: #ccffcc; /* Mellow green background color */
    color: #336633; /* Mellow dark green text color */
}

/* Make navbar responsive */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
    footer p {
        padding: 10px;
    }
}

/* Add more global styles as needed */
