/* static/css/styles.css */
/* Primary style enhancements targeting a modern, flat design */

:root {
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-light: #dddddd;
    --bs-dark: #212529;
    --bs-info: #0dcaf0;
    --font-primary: 'Poppins', sans-serif;
    --bs-body-font-family: 'Rubik', sans-serif;
    --hover-color: var(--bs-primary);  /* Color of the hover animation */
    --animation-duration: 0.3s;        /* Animation duration */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh; /* This will ensure the body takes up at least the height of the viewport */
    display: flex;
    flex-direction: column; /* This will stack the children of body vertically */
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-light);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    background-color: var(--bs-dark);
}


.navbar-toggler {
    max-width: fit-content;
}

.navbar-brand img {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out; /* increased transformation duration for smooth animation */
}

.navbar-brand img:hover {
    transform: translateY(-5px);
}

.navbar-nav .nav-link {
    /* The magic happens here */
    overflow: hidden;
    transition: color var(--animation-duration), transform 0.3s ease-in-out;
}

.navbar-nav .nav-link span {
    /* We animate this span */
    position: relative;
    transition: transform var(--animation-duration);
}

.navbar-nav .nav-link span::before {
    /* This is the animated underline */
    content: "";
    position: absolute;
    bottom: -2px;                          /* Position of the underline */
    left: 50%;                             /* We want the underline to start from the center */
    transform: translateX(-50%);           /* This centers the element */
    width: 0;                              /* Initial state is "not visible" */
    height: 2px;                           /* Thickness of the underline */
    background-color: var(--hover-color);  /* Color of the underline */
    transition: width var(--animation-duration);
}

.navbar-nav .nav-link:hover {
    color: var(--hover-color);  /* You can remove this line if you don't want to animate the color of the link */
    transform: translateY(-2px);  /* Move the text a little bit up when hovering over the link (this creates a 3D effect) */
}

.navbar-nav .nav-link:hover span {
    /* When hovering over the link, we animate the span */
    transform: translateY(2px);  /* Move the text a little bit down when hovering over the link (this creates a 3D effect) */
}

.navbar-nav .nav-link:hover span::before {
    /* When hovering over the link, we animate the underline */
    width: calc(100% + 10px);  /* Length of the underline (this can be bigger than 100% if you want the underline to extend beyond the text) */
}

.alert {
    transition: opacity 0.15s linear;
    margin: 0;
    border-radius: 0;
}

.alert-error {
    background-color: #d47a7a;
    color: var(--bs-light);
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: var(--bs-gray-dark);
    color: var(--bs-light);
    margin-top: auto; /* This will push the footer to the bottom */
}

@media (max-width: 768px) {
    body {
        font-size: 0.875rem; /* Reduce font-size for mobile */
    }

    .navbar-brand {
        font-size: 1em;
        transform: none; /* Disable rotation animation for mobile */
    }

    .navbar-nav .nav-link {
        font-size: 0.9em;
        transform: none; /* Disable scaling animation for mobile */
    }

    /* Responsive layout for smaller screens */
    main {
        width: 100%;
    }

    footer {
        padding: 1em;
    }
}