.chat {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-self: center;
}

#chat-window {
    width: 50%;
    max-width: 90vw;
    height: 80vh;
    border: none;
    border-radius: 10px;
    background-color: var(--dark-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
    color: var(--light-green);
}

#clear {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
}

#clear-chat-button {
    background-color: var(--dark-gray);
    border: none;
    color: var(--light-green);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 1vh;
}

#clear-chat-button:hover {
    background-color: var(--light-green);
    color: var(--dark-gray);
}

#messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

#messages h1, #messages h2, #messages h3, #messages h4, #messages h5, #messages h6 {
    color: var(--light-green);
    margin-top: 0;
}

#messages p {
    color: var(--light-green);
    margin: 0 0 10px;
}

#messages a {
    color: var(--light-green);
    text-decoration: underline;
}

#messages ul, #messages ol {
    color: var(--light-green);
    padding-left: 20px;
}

#messages li {
    margin-bottom: 5px;
}

#messages code {
    background-color: var(--xd-gray);
    color: var(--light-green);
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
}

/* Styling for the dropdown menu */
#response-mode {
    background-color: var(--xd-gray); /* background color */
    color: var(--light-green); /* text color */
    border: none; /* remove default border */
    border-radius: 10px; /* rounded corners */
    padding: 10px; /* space around text */
    font-size: 14px; /* text size */
    cursor: pointer; /* cursor style */
    transition: background-color 0.3s ease; /* transition effect */
    margin-bottom: 1vh;
    background-color: var(--dark-gray);
    border: none;
    color: var(--light-green);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 1vh;
}

/* Styling for the dropdown menu on hover */
#response-mode:hover {
    background-color: var(--light-green); /* background color */
    color: var(--dark-gray); /* text color */
}

/* Styling for the dropdown options */
#response-mode option {
    background-color: var(--xd-gray); /* background color */
    color: var(--light-green); /* text color */
}

/* Styling for the dropdown options on hover */
#response-mode option:hover {
    background-color: var(--light-green); /* background color */
    color: var(--dark-gray); /* text color */
}

#messages pre {
    background-color: var(--xd-gray);
    color: var(--light-green);
    padding: 10px;
    border-radius: 3px;
    overflow-x: auto;
}

#send-message {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: var(--dark-gray);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#message-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--xd-gray);
    color: var(--light-green);
    max-height: 35vh;
}

#send-message button {
    background-color: var(--dark-teal);
    color: var(--light-green);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-message button:hover {
    background-color: var(--light-blue);
}

.message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--xd-gray);
    color: var(--light-green);
}

.user-message{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--dark-teal);
    color: var(--light-green);
}

.bot-message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--xd-gray);
    color: var(--light-green);
}

.bot-role {
    background-color: #191919;
    font-size: 1em;
}

.user-role {
    background-color: #10514e;
    font-size: 1em;
}

/* Style for inline code */
code {
    background-color: #343434 !important; /* light gray */
    padding: 2px 4px !important;
    font-size: 90%;
    border-radius: 4px;
    border-color: var(--light-green) !important;
    border-width: 1px !important;
}

/* Style for code blocks */
pre > code {
    display: block;
    padding: 10px;
    border-radius: 4px;
}