.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--base-bg);
    width: 100%;
    color: var(--light-fg);
    padding: 2em;
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.contact-info p {
    font-size: 1.2em;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .contact-info {
        width: 100%;
    }

    .contact-info h2 {
        font-size: 1.5em;
    }

    .contact-info p {
        font-size: 1em;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--xd-gray);
}

.contact-form {
    background-color: var(--base-bg);
    padding: 2em;
    border-radius: 5px;
    max-width: 600px;
    margin: 5vw;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.contact-form h2 {
    text-align: center;
    color: var(--light-fg);
    margin-bottom: 1em;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    background-color: var(--light-bg);
    color: var(--light-fg);
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 10px var(--secondary-bg);
}

.contact-form button {
    padding: 1em 2em;
    border: none;
    background-color: var(--secondary-bg);
    color: var(--light-fg);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.contact-form button:hover {
    background-color: var(--base-bg);
}

/* Responsive styles */
@media (max-width: 600px) {
    .contact-form {
        padding: 1em;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 0.5em;
    }

    .contact-form button {
        padding: 0.5em 1em;
    }
}