body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#gameCanvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

canvas {
    flex: 1;
    max-width: 800px;
    max-height: 800px;
}

footer {
    margin-top: auto;
}