body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    overflow-y: hidden;
}

.canvasContainer {
    align-self: center;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 80%;
    max-height: 80%;
    border: 1px solid black;
}

canvas {
    flex: 1;
}

footer {
    margin-top: auto;
}