/* static/css/index.css */
/* Add your styles for index.html here */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

footer {
    margin-top: auto;
}

/* Landing section styles */
.landing {
    height: 100vh; /* Full viewport height */
    background-color: #0D0D0D; /* Dark green background color */
    color: #C1B8AE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; /* Ensure overflow is hidden to contain shapes */
    position: relative;
}

/* Wavy shapes using the new provided method */
.wave {
    --size: 50px; /* Size of the wave */
    --mask:
        radial-gradient(78.49px at 50% calc(100% + 49.50px), #0000 calc(99% - 9px), #000 calc(101% - 9px) 99%, #0000 101%) calc(50% - 110px) calc(50% - 32px + .5px)/220px 64px,
        radial-gradient(78.49px at 50% -49.5px, #0000 calc(99% - 9px), #000 calc(101% - 9px) 99%, #0000 101%) 50% calc(50% + 32px)/220px 64px;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    background: linear-gradient(-45deg, var(--dark-blue), #0D0D0D, #0D0D0D, var(--dark-blue));
    background-size: 400% 400%;
    animation: gradient 7.5s ease-in-out infinite;
    border: none;
    width: 100%;
    height: calc(100% + 10vw);
    top: 0; /* Align wave to the top of the landing container */
    left: 0; /* Align wave to the left of the landing container */
    position: absolute;
    z-index: 1;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.landing img {
    filter: brightness(0) saturate(100%) invert(13%) sepia(16%) saturate(6385%) hue-rotate(184deg) brightness(91%) contrast(104%);
    z-index: 2;
    position: absolute;
    bottom: -60px;
    right: -100px;
    transition: filter 0.55s ease-in-out;
    max-width: 100%;
    width: 70vw;
}

@media (max-width: 768px) {
    .landing img {
        width: 100vw;
        left: 0;
    }
}

.landing h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    z-index: 2;
}

.name {
    color: var(--light-green);
    animation: fadeIn 1.5s ease-in-out;
    padding: 2vw;
    padding-bottom: 0;
}

.role {
    color: var(--light-blue);
    animation: fadeIn 1.5s ease-in-out;
    padding: 2vw;
    padding-left: 3vw;
    padding-top: 0;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.desc {
    padding-left: 2vw;
}

/* Slogan styles */
.slogan {
    position: absolute; /* Position the slogan absolutely within the landing section */
    top: 82.5%; /* Position it at the middle vertically */
    left: 70%; /* Position it at the middle horizontally */
    transform: translate(-50%, -50%); /* Center the slogan */
    z-index: 3; /* Ensure the slogan is above the trees image */
    color: var(--light-green); /* White text color for contrast */
}

.slogan h2 {
    text-align: center; /* Center the text within the slogan */
    font-size: 2vw; /* Adjust the font size as needed */
}

.highlight {
    color: var(--light-blue);
}

.blob {
    position: relative;
    z-index: 2;
    border-radius: 50% 50% 40% 60% / 60% 40% 70% 30%;
    min-height: min-content;
    min-width: min-content;
    width: 60vmin;
    height: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide the overflow from the pseudo-element */
}

.blob::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1vw;
    padding: 1vw;
    background-image: linear-gradient(45deg, #006c91 0%, rgb(0, 16, 46) 100%);
    background-size: 300% 300%;
    background-position: 0% 0%;
    animation: morph 25s linear infinite;
    z-index: -1;
}

@keyframes morph {
    0% {
        border-radius: 50% 50% 40% 60% / 60% 40% 70% 30%;
        background-position: 0% 0%;
        rotate: 0deg;
    }
    12.5% {
        border-radius: 60% 40% 50% 50% / 50% 50% 50% 50%;
        background-position: 100% 0%;
    }
    25% {
        border-radius: 50% 50% 60% 40% / 60% 40% 50% 50%;
        background-position: 100% 100%;
    }
    37.5% {
        border-radius: 40% 60% 50% 50% / 50% 50% 60% 40%;
        background-position: 0% 100%;
    }
    50% {
        border-radius: 50% 50% 40% 60% / 60% 40% 50% 50%;
        background-position: 0% 0%;
        rotate: 180deg;
    }
    62.5% {
        border-radius: 60% 40% 50% 50% / 50% 50% 50% 50%;
        background-position: 100% 0%;
    }
    75% {
        border-radius: 50% 50% 60% 40% / 60% 40% 50% 50%;
        background-position: 100% 100%;
    }
    87.5% {
        border-radius: 40% 60% 50% 50% / 50% 50% 60% 40%;
        background-position: 0% 100%;
    }
    100% {
        border-radius: 50% 50% 40% 60% / 60% 40% 70% 30%;
        background-position: 0% 0%;
        rotate: 360deg;
    }
}

.divider {
    opacity: 1;
    width:100%;
    height: 2vw;
    background-color: var(--xd-gray); /* Light green background color */
    position: relative;
    z-index: 2;
}


/* Biographical Information section styles */
.bio {
    background-color: var(--dark-blue); /* Dark forest green background color */
    color: var(--light-green); /* Light blue text color */
    padding: 50px 20px;
    padding-top: 10px;
    position: relative;
    z-index: 2;
}

.bio h1, .bio h2 {
    color: var(--light-green); /* Light green text color */
}
.bio h1 {
    text-align: center;
    padding-bottom: 20px;
}

.bio p, .bio ul {
    font-size: 1.2em;
}


/* Brand Explanation section styles */
.brand-explanation {
    overflow-x: hidden;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    min-height: 75vh;
}
.brand {
    grid-column-start: 1;
    grid-column-end: span 2; /* Updated to span 2 columns */
    height: min-content;
    margin: 3vw;
    margin-right: 0;
    border-radius: 10px;
    color: var(--light-green);
    padding: 50px 20px;
}

.thumbnail {
    grid-row-start: 1; /* Updated grid-row-start property to place it in the first row */
    grid-column-start: 3; /* Updated grid-column-start property to place it in the third column */
    grid-column-end: 4; /* Updated grid-column-end property to place it in the third column */
    margin: 3vw 2vw;
    margin-left: 0;
    max-width: min-content;
}
.thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.brand h2 {
    color: var(--light-blue); /* Light blue text color */
}

.brand p {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .landing img {
        scale: 2.5;
        width: 200vw;
        left: 100vw;
        bottom: 0;
        right: -50px;
    }

    .landing h1 {
        font-size: 1em;
    }

    .slogan h2 {
        font-size: 4vw;
    }

    .blob {
        width: 40vmin;
        height: 40vmin;
    }

    .divider {
        height: 1vw;
    }

    .bio {
        padding: 25px 10px;
    }

    .bio h1 {
        margin-top: 1vw;
    }

    .brand-explanation {
        margin-top: 2vw;
        margin-bottom: 12.5vw;
    }

}
