/* static/css/index.css */
/* Add your styles for index.html here */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

footer {
    margin-top: auto;
}

.hero-content {
    text-align: center;
    padding: 100px 0;
    color: var(--light-fg);
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.hero-content a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--light-fg);
    background-color: var(--secondary-bg);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.cta-button {
    display: inline-block;
    padding: 10px 20px;
    color: var(--light-fg);
    background-color: var(--secondary-bg);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--base-bg);
}

/* Biographical Information section styles */
.bio {
    background-color: var(--base-bg); /* Dark forest green background color */
    color: var(--light-fg); /* Light blue text color */
    padding: 50px 20px;
    padding-top: 3vw;
    position: relative;
    z-index: 2;
}

.bio h1, .bio h2 {
    color: var(--light-fg); /* Light green text color */
}
.bio h1 {
    text-align: center;
    padding-bottom: 20px;
}

.bio p, .bio ul {
    font-size: 1.2em;
}


/* Brand Explanation section styles */
.brand-explanation {
    overflow-x: hidden;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: var(--secondary-bg);
}
.brand {
    grid-column-start: 1;
    grid-column-end: span 2; /* Updated to span 2 columns */
    height: min-content;
    margin: 3vw;
    margin-right: 0;
    border-radius: 10px;
    color: var(--light-fg);
    padding: 50px 20px;
}

.thumbnail {
    grid-row-start: 1; /* Updated grid-row-start property to place it in the first row */
    grid-column-start: 3; /* Updated grid-column-start property to place it in the third column */
    grid-column-end: 4; /* Updated grid-column-end property to place it in the third column */
    margin: 3vw 2vw;
    margin-left: 0;
    max-width: min-content;
}
.thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.brand h2 {
    color: var(--light-bg); /* Light blue text color */
}

.brand p {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .landing img {
        position: absolute;
        bottom: -10%; /* Move the image slightly below the bottom of the .landing div */
        left: 50%; /* Center the image horizontally */
        transform: translateX(-50%) translateY(-90%) scale(3.5); /* Center and scale the image */
        height: auto;
    }

    .landing h1 {
        font-size: 0.8em;
    }

    .landing, .blob {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .landing .desc {
        text-align: left;
    }

    .slogan {
        top: 80%; /* Position it near the bottom */
        left: 50%; /* Position it at the middle horizontally */
        transform: translate(-50%, -50%); /* Center the slogan */
    }

    .slogan h2 {
        font-size: 4vw; /* Increase the font size for better readability on small screens */
    }

    .blob {
        width: 40vmin;
        height: 40vmin;
        position: absolute;
        top: 17.5%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5);
    }

    .divider {
        height: 1vw;
    }

    .bio {
        padding: 25px 10px;
    }

    .bio h1 {
        margin-top: 1vw;
    }

    .brand-explanation {
        margin-top: 2vw;
        margin-bottom: 12.5vw;
        grid-template-columns: 1fr;
    }

    .brand p {
        padding-right: 4vw;
    }

    .brand, .thumbnail {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}
