/* static/css/index.css */
/* Add your styles for index.html here */

body {
    margin: 0;
    padding: 0;
}

/* Landing section styles */
.landing {
    height: 100vh; /* Full viewport height */
    background-color: #0c441d; /* Dark green background color */
    color: #9bd88f; /* Light green text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; /* Ensure overflow is hidden to contain shapes */
    position: relative;
}

/* Wavy shapes using the new provided method */
.wave {
    --size: 50px; /* Size of the wave */
    --mask:
        radial-gradient(78.49px at 50% calc(100% + 49.50px), #0000 calc(99% - 9px), #000 calc(101% - 9px) 99%, #0000 101%) calc(50% - 110px) calc(50% - 32px + .5px)/220px 64px,
        radial-gradient(78.49px at 50% -49.5px, #0000 calc(99% - 9px), #000 calc(101% - 9px) 99%, #0000 101%) 50% calc(50% + 32px)/220px 64px;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    background: linear-gradient(-45deg, #287721, #0c441d, #0c441d, #0a2b13);
    background-size: 400% 400%;
    animation: gradient 12.5s ease-in-out infinite;
    border: none;
    width: 100%;
    height: calc(100% + 4vw);
    top: 0; /* Align wave to the top of the landing container */
    left: 0; /* Align wave to the left of the landing container */
    position: absolute;
    z-index: 1;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.landing img {
    filter: invert(10%) sepia(58%) saturate(653%) hue-rotate(84deg) brightness(101%) contrast(95%);
    z-index: 2;
    position: absolute;
    bottom: -60px;
    right: -100px;
    transition: filter 0.55s ease-in-out;
    max-width: 100%;
    width: 70vw;
}

@media (max-width: 768px) {
    .landing img {
        width: 100vw;
        left: 0;
    }
}

.landing h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    z-index: 2;
}

.name {
    animation: fadeIn 1.5s ease-in-out;
}

.role {
    animation: fadeIn 1.5s ease-in-out;
    padding-left: 2vw;
}

.desc {
    z-index: 2;
    padding-left: 2vw;
}

.divider {
    opacity: 1;
    width:100%;
    height: 2vw;
    background-color: rgb(10, 43, 19); /* Light green background color */
    position: relative;
    z-index: 2;
}

/* Biographical Information section styles */
.bio {
    background-color: #9bd88f; /* Light green background color */
    color: #0c441d; /* Dark green text color */
    padding: 50px 20px;
    position: relative; /* Ensure position is relative for z-index to work */
    z-index: 2; /* Set a higher z-index to make it appear above other elements */
}
.bio h1 {
    margin-top: 2vw;
}

.brand-explanation {
    margin-top: 4vw;
    margin-bottom: 25vw;
    position: relative;
    z-index: 2;
}

footer {
    background-color: #0c441d; /* Dark green background color */
    color: #9bd88f; /* Light green text color */
    position: relative; /* Ensure position is relative for z-index to work */
    z-index: 2; /* Set a higher z-index to make it appear above other elements */
    margin: 0;
}

footer p {
    margin: 0;
    padding: 20px;
}
