body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.login-section {
    width: 100%;
    max-width: 400px;
    margin: 1em auto;
    padding: 20px;
    text-align: center;
    background-color: var(--bs-light);
    box-shadow: 0 1rem 3rem rgba(0,0,0, .1);
}

.login-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section form input[type="text"],
.login-section form input[type="password"] {
    border: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    color: var(--bs-dark);
    background-color: var(--bs-light);
    background: transparent;
    transition: border-bottom-color 0.3s ease;
    border-bottom: 2px solid var(--bs-dark);
}

.login-section form input[type="text"]:focus,
.login-section form input[type="password"]:focus {
    border-bottom-color: var(--bs-primary);
    outline: none;
}

.login-section form input[type="submit"] {
    background-color: var(--bs-primary);
    border: none;
    color: var(--bs-light);
    padding: 10px 20px;
    margin: 10px 0;
    transition: all var(--transition-speed) ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    flex-grow: 1;
    text-align: center;
}

.login-section form input[type="submit"]:hover {
    background-color: var(--bs-dark);
    color: var(--bs-primary);
}

.register {
    margin-top: 20px;
    font-size: 1.2em;
}

.register a {
    color: var(--bs-primary);
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}