{% extends 'base.html' %}

{% block title %}Pine Elite - Chat{% endblock %}

{% block content %}
<section class="chat">
    <div id="chat-window">
        <form id="clear" action="/clear_chat" method="post">
            <select id="response-mode" name="response-mode">
                {% if chat_mode == 'simple' %}
                    <option value="simple" selected>Simple</option>
                    <option value="complex">Complex</option>
                {% else %}
                    <option value="simple">Simple</option>
                    <option value="complex" selected>Complex</option>
                {% endif %}
            </select>
            <button type="submit" id="clear-chat-button">Clear Chat</button>
        </form>
        <div id="messages">
            {% for message in chat_history %}
            {% if message.role == 'user' %}
                <div class='user-message'><span class="user-role"><strong>
            {% else %}
                <div class='bot-message'><span class="bot-role"><strong>
            {% endif %}
            <!---Incorporate a copy button-->
            {{ message.role.capitalize() }}:</strong></span><br> {{ message.content | safe }}</div>
            {% if message.role == 'assistant' or message.role == 'system' %}
            {% endif %}
            {% endfor %}
        </div>
        <form id="send-message">
            <textarea id="message-input" autocomplete="false" rows="1"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    var simple_response = "{{ url_for('simple_response') }}";
    var complex_response = "{{ url_for('complex_response') }}";
</script>
<script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/chat.css') }}">
{% endblock %}