<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Title - Home{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>

    <!-- Biographical Information Section -->
    <section class="bio">
        <div class="container">
            <h1>About Me</h1>
            <div class="row">
                <div class="col-md-6">
                    <h2>Header 2</h2>
                    <p>Paragraph</p>
                    <ul>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2>Heading 2</h2>
                    <p>Paragraph</p>
                    <ul>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="brand-explanation">
        <div class="brand container">
            <h2>About Title</h2>
            <p>Paragraph</p>
            <p>Paragraph</p>
        </div>
        <div class="thumbnail container">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Thumbnail">
        </div>
    </section>


{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}
