{% extends 'base.html' %}

{% block title %}Title - Portfolio{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='scripts/portfolio.js') }}"></script>
    <div class="portfolio">
        <section class="portfolio-intro">
            <h1>Portfolio</h1>
            <p>Welcome to my portfolio. Here you'll find a collection of my work, showcasing my skills and experiences.</p>
            {% if current_user.is_active %}
            <button id="addButton" onclick="showFormAdd()">Add New Portfolio Item</button>
            <div id="addForm" style="display:none">
                <form action="{{ url_for('portfolio') }}" method="post" enctype="multipart/form-data">
                    <label for="title">Title:</label><br>
                    <input type="text" id="title" name="title"><br>
                    <label for="image">Image:</label><br>
                    <input type="file" id="image" name="image"><br>
                    <label for="description">Abv. Description:</label><br>
                    <input type="text" id="description" name="description"><br>
                    <label for="full_description">Full Description:</label><br>
                    <input type="text" id="full_description" name="full_description"><br>
                    <label for="link">Link:</label><br>
                    <input type="text" id="link" name="link"><br>
                    <input type="submit" value="Submit">
                    <button type="button" onclick="hideFormAdd()">Cancel</button>
                </form>
            </div>
            {% endif %}
        </section>
        <section class="portfolio-grid">
            {% for item in portfolio_items %}
            <div class="portfolio-item">
                {% if item.title %}
                <div class="title"><h1>{{ item.title }}</h1></div>
                {% endif %}
                <div class="portfolio-image">
                    {% if item.image %}
                        <img src="{{ url_for('static', filename=item.image) }}" style="width:100%">
                    {% endif %}
                    {% if item.description %}
                        <div class="description">
                            <p>{{ item.description }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="buttons">
                    <button onclick="event.stopPropagation(); showDetails('{{ item.title }}')">Expand</button>
                    {% if item.link %}
                        <button onclick="event.stopPropagation(); window.open('{{ item.link }}', '_blank')">View Project</button>
                    {% endif %}
                    {% if current_user.is_active %}
                    <button class="editButton" id="editButton{{ item.title }}" onclick="showFormEdit('{{ item.title }}')">Edit</button>
                    {% endif %}
                </div>
                {% if current_user.is_active %}
                <div class="editForm" id="editForm{{ item.title }}" style="display:none">
                    <form class="edit" action="{{ url_for('edit_portfolio_item', id=item.id) }}" method="post" enctype="multipart/form-data">
                        <label for="title">Title:</label><br>
                        <input type="text" id="title" name="title" value="{{ item.title }}"><br>
                        <label for="image">Image:</label><br>
                        <input type="file" id="image" name="image"><br>
                        <label for="description">Description:</label><br>
                        <input type="text" id="description" name="description" value="{{ item.description }}"><br>
                        <label for="full_description">Full Description:</label><br>
                        <input type="text" id="full_description" name="full_description" value="{{ item.full_description }}"><br>
                        <label for="link">Link:</label><br>
                        <input type="text" id="link" name="link" value="{{ item.link }}"><br>
                        <input type="submit" value="Submit">
                        <button class="cancel" type="button" onclick="hideFormEdit()">Cancel</button>
                    </form>
                    <form class="delete" action="{{ url_for('delete_portfolio_item', id=item.id) }}" method="post" enctype="multipart/form-data">
                        <input type="submit" value="Delete">
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="expanded-view" id="{{ item.title }}" style="display:none">
                <div class="expanded-view-content">
                    <span class="close" onclick="hideDetails('{{ item.title }}')">&times;</span>
                    {% if item.title %}
                    <h2>{{ item.title }}</h2>
                    {% endif %}
                    <div class="header-image">
                        {% if item.image %}
                        <img src="{{ url_for('static', filename=item.image) }}">
                        {% endif %}
                    </div>
                    {% if item.full_description %}
                    <p>{{ item.full_description }}</p>
                    {% endif %}
                    <div class="buttons">
                        <button onclick="hideDetails('{{ item.title }}')">Close</button>
                        {% if item.link %}
                        <button onclick="window.open('{{ item.link }}', '_blank')">View Project</button>
                        {% endif %}
                        {% if current_user.is_active %}
                        <button class="editButton" id="editButton{{ item.title }}" onclick="showFormEdit('{{ item.title }}')">Edit</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/portfolio.css') }}">
{% endblock %}