{% extends 'base.html' %}

{% block title %}Portfolio | ImageFX Inc.{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='scripts/portfolio.js') }}"></script>
    <div class="portfolio">
        <section class="portfolio-intro">
            <h1>Portfolio</h1>
            <p>Welcome to my portfolio. Here you'll find a collection of my work, showcasing my skills and experiences.</p>
            {% if current_user.is_active %}
            <button id="addButton" onclick="showFormAdd()">Add New Portfolio Item</button>
            <div id="addForm" style="display:none">
                <form action="{{ url_for('portfolio') }}" method="post" enctype="multipart/form-data">
                    <label for="title">Title:</label>
                    <textarea rows="1" id="title" name="title"></textarea>
                    <label for="image">Image:</label>
                    <input type="file" id="image" name="image">
                    <label for="description">Abv. Description:</label>
                    <textarea rows="1" id="description" name="description"></textarea>
                    <label for="full_description">Full Description:</label>
                    <textarea rows="1" id="full_description" name="full_description"></textarea>
                    <label for="link">Link:</label>
                    <textarea rows="1" id="link" name="link"></textarea>
                    <input type="submit" value="Submit">
                    <button class="cancel" type="button" onclick="hideFormAdd()">Cancel</button>
                </form>
            </div>
            {% endif %}
        </section>
        <section class="portfolio-grid">
            {% for item in portfolio_items %}
            <div class="portfolio-item">
                <div class="container">
                    {% if item.title %}
                    <div class="title"><h1>{{ item.title }}</h1></div>
                    {% endif %}
                    <div class="portfolio-image">
                        {% if item.image %}
                            <img src="{{ url_for('static', filename=item.image) }}" style="width:100%">
                        {% endif %}
                        {% if item.description %}
                            <div class="description">
                                <p>{{ item.description }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                    <div class="buttons">
                        <button class="initial" onclick="event.stopPropagation(); showDetails('{{ item.title }}')">Expand</button>
                        {% if item.link %}
                            <button class="initial" class="viewProjectButton" onclick="event.stopPropagation(); window.open('{{ item.link }}', '_blank')">View Project</button>
                        {% endif %}
                        {% if current_user.is_active %}
                        <button class="initial" class="editButton" id="editButton{{ item.title }}" onclick="showFormEdit('{{ item.title }}')">Edit</button>
                        {% endif %}
                    </div>
                    {% if current_user.is_active %}
                    <div class="editForm" id="editForm{{ item.title }}" style="display:none">
                        <div class="form-container">
                            <form class="edit" action="{{ url_for('edit_portfolio_item', id=item.id) }}" method="post" enctype="multipart/form-data">
                                <label for="title">Title:</label>
                                <textarea  rows="1" id="title" name="title">{{ item.title }}</textarea>
                                <label for="image">Image:</label>
                                <input type="file" id="image" name="image">
                                <label for="description">Description:</label>
                                <textarea  rows="1" id="description" name="description">{{ item.description }}</textarea>
                                <label for="full_description">Full Description:</label>
                                <textarea  rows="1" id="full_description" name="full_description">{{ item.full_description }}</textarea>
                                <label for="link">Link:</label>
                                <textarea  rows="1" id="link" name="link">{{ item.link }}</textarea>
                                <div class="buttons">
                                    <button class="cancel" type="button" onclick="hideFormEdit()">Cancel</button>
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                            <form class="delete" action="{{ url_for('delete_portfolio_item', id=item.id) }}" method="post" enctype="multipart/form-data">
                                <div class="buttons">
                                    <input type="submit" value="Delete">
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="expanded-view" id="{{ item.title }}" style="display:none">
                <div class="expanded-view-content">
                    <span class="close" onclick="hideDetails('{{ item.title }}')">&times;</span>
                    {% if item.title %}
                    <h2>{{ item.title }}</h2>
                    {% endif %}
                    <div class="header-image">
                        {% if item.image %}
                        <img src="{{ url_for('static', filename=item.image) }}">
                        {% endif %}
                        {% if item.full_description %}
                        <p>{{ item.full_description }}</p>
                        {% endif %}
                    </div>
                    <div class="buttons">
                        <button onclick="hideDetails('{{ item.title }}')">Close</button>
                        {% if item.link %}
                        <button onclick="window.open('{{ item.link }}', '_blank')">View Project</button>
                        {% endif %}
                        {% if current_user.is_active %}
                        <button class="editButton" id="editButton{{ item.title }}" onclick="showFormEdit('{{ item.title }}')">Edit</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/portfolio.css') }}">
{% endblock %}