{% extends "base.html" %}

{% block title %}Register | ImageFX Inc.{% endblock %}

{% block content %}
<div class="register-section">
    <h1>Register</h1>
    <form method="POST" action="/register">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="password" name="admin_pass" placeholder="Admin Password" required>
        <input type="submit" value="Register">
    </form>
    <div class="login">
        <p>Already have an account? <a href="/login">Login here.</a></p>
    </div>
</div>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
{% endblock %}