{% extends "base.html" %}

{% block title %}
Video Stream
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/video_page.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <img id="video_feed" class="img-fluid" width="100%" />
</div>
<script>
    function updateImage() {
        console.log("attempting update")
        var img = document.getElementById('video_feed');
        img.src = "{{ url_for('video_feed') }}";
        setTimeout(updateImage, 500); // Update every 3 seconds (3000 milliseconds)
        console.log("Updated image")
    }
    window.onload = updateImage;
</script>
{% endblock %}