{% extends "base.html" %}

{% block title %}
Video Stream
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/video_page.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <img id="video_feed" class="img-fluid" />
        </div>
    </div>
</div>
<script>
    function updateImage() {
        var img = document.getElementById('video_feed');
        img.src = "{{ url_for('video_feed') }}" + '?' + new Date().getTime();
        setTimeout(updateImage, 3000); // Update every 3 seconds (3000 milliseconds)
        console.log("Updated image")
    }
    window.onload = updateImage;
</script>
{% endblock %}